[Desktop Entry]
Name=Persian Calendar
Comment=A Persian (Jalali/Farsi) calendar which provides a basic appindicator
Exec=/opt/persian-calendar/gahshomar -m
Icon=persian-calendar
Terminal=false
Type=Application
Categories=Productivity;
